<!DOCTYPE html>
<html lang ="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>메인 화면</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
<style>

.box{
	width: 100%;
	height: 100px;
}

.goright{
	display: flex;
	justify-content: flex-end;		
}
body{
	font-family: 'Nanum Pen Script', cursive;
	  font-size: 2rem;
}
a {
  color: inherit;
  text-decoration: none;
}
select{
	width: 5rem;
}
</style>
</head>
<body>
<!-- 네비 -->
	<th:block th:include="/include/nav.html"></th:block>
	
<!-- 메인 -->
		<div class="container-xxl text-center">
			<main class="bd- main order-1">
				<div class="goright" >
				<div>
				  <button  class="btn btn-outline-secondary mx-3 my-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">글 작성</button>
				</div>
				<div class=" mx-1 my-3">
				 <select  class="form-select" aria-label="Default select example"  name="searchType">
				      <option th:attr="selected = ${searchType} == title ? true : false" value="title">제목</option>
			          <option th:attr="selected = ${searchType} == content ? true : false"value="content">내용</option>
				      <option th:attr="selected = ${searchType} == title_content ? true : false"value="title_content">제목+내용</option>
				      <option th:attr="selected = ${searchType} == writer ? true : false"value="writer">작성자</option>
  				</select>
				</div>
				<div class="input-group mb-3 mt-3" style="width: 20rem;">
				  <input type="text" name="keyword" class="form-control"
				   placeholder="검색창" aria-label="Recipient's username"
				    aria-describedby="button-addon2" th:value="${keyword}">
				  <button class="btn btn-outline-secondary" type="button" id="searchBtn">검색</button>
				</div>
				</div>
				<table class="table px-10">
					  <thead>
					    <tr>
					      <th scope="col">작성자</th>
					      <th scope="col">제목</th>
					      <th scope="col">등록일</th>
					      <th scope="col">조회수</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="board : ${list}">
					      <th scope="row" th:text=${board.bno}></th>
					      <td><a th:text="${board.title}" th:href="@{'/board/getDetail?bno='+${board.bno}}"></a></td>
					      <td th:text=${board.regdate}></td>
					      <td th:text=${board.readcnt}></td>
					    </tr>
					  </tbody>
				</table>
				 <!--페이징 시작  -->
            <div class="box" style="display:flex; font-size:100px; justify-content: center;">
                	<th:block
                  th:with="start=${page.startPageNum}, end=${page.endPageNum}, num =${pageNum}">
                	<ul style="list-style: none; ">
                		<!-- 이전 버튼  -->
						<li class="mx-1 my-2" style="float:left; font-size: 2rem;" th:if="${page.prev}">
						<a style="color: #000000" th:href="@{/board/searchList(num= ${page.startPageNum}-1)}" th:text="prev">
						</a></li>
						
						<!-- 숫자 버튼 -->
						<th:block th:each="num : ${#numbers.sequence(start, end)}">
						<li class="mx-2 my-2"style="float:left; font-size: 2rem;">
							<a style="color: #000000" th:text=${pageNum} th:href="@{/board/searchList(num = ${num})}"></a>
						</li>						
                		</th:block>
                		
                		<!-- 다음 버튼 -->
						<li class="mx-1 my-2" style="float:left;font-size: 2rem" th:if="${page.next}">
						<a style="color: #000000" th:href="@{/board/searchList(num = ${page.endPageNum}+1)}" th:text="next">
						</a></li>	
                	</ul>
					</th:block>
            </div>
                <!--페이징 끝 -->
			</main>
		  </div> 
<!-- 모달 -->
<form action="/board/registerPro" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">글 작성하기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">제목</label>
            <input type="text" class="form-control" name="title">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">내용</label>
            <textarea class="form-control" name="content"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:onclick="|location.href='@{/board/list}'|">취소</button>
        <button type="submit" class="btn btn-primary">완료</button>
      </div>
    </div>
  </div>
</div>
</form>
<script>

 document.getElementById("searchBtn").onclick = function () {
    
  let searchType = document.getElementsByName("searchType")[0].value;
  let keyword =  document.getElementsByName("keyword")[0].value;
  
  location.href = "/board/searchList?num=1" + "&searchType=" + searchType + "&keyword=" + keyword;
  
  console.log(searchType)
  console.log(keyword)
 };
 
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>